{% extends 'base.html.twig' %}

{% block title %}Spectacle{% endblock %}

{% block body %}
    <h1>Spectacle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ spectacle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ spectacle.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ spectacle.date ? spectacle.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ spectacle.places }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ spectacle.description }}</td>
            </tr>
            <tr>
                <th>Weezevent_id</th>
                <td>{{ spectacle.weezeventId }}</td>
            </tr>
        </tbody>
    </table>

    <iframe src="https://www.weezevent.com/widget_billeterie.php?id_evenement={{ spectacle.weezeventId }}&amp;lg_billetterie=1&amp;code=27455&amp;resize=1&amp;width_auto=1&amp;color_primary=00AEEF&amp;v=2" resize="1" hidepoweredby="0" scrolling="auto" style="box-sizing: initial;" width="100%" height="480px" frameborder="0"></iframe>

    <a href="{{ path('spectacle_index') }}">back to list</a>

    <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">edit</a>

    {{ include('spectacle/_delete_form.html.twig') }}
{% endblock %}