{{ form_start(form, {'attr': {'class': 'test'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.nom, {'attr': {'class': 'unpute'}}) }}
    {{ form_row(form.prenom, {'attr': {'class': 'unpute'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'unpute'}}) }}
    {{ form_row(form.telephone, {'attr': {'class': 'unpute'}}) }}
    {{ form_row(form.sujet, {'attr': {'class': 'unpute'}}) }}
    {{ form_row(form.newsletter, {'attr': {'class': 'unpute'}}) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}