{% extends 'base.html.twig' %}

{% block title %}ContactPartenaire index{% endblock %}

{% block body %}
    <div class="container">
        <h3>Liste de messages des partenaires</h3>
        {% for contact_partenaire in contact_partenaires %}
        <div class="list-group bg-dark">
          <a href="{{ path('contact_partenaire_show', {'id': contact_partenaire.id}) }}" class="list-group-item list-group-item-success {% if contact_partenaire.status == 'vue' %}list-group-item-warning{% endif %} flex-column align-items-start">
            <div class="row">
                <div class="col-md-3"><h5 class="mb-1">{{ contact_partenaire.nom }} {{ contact_partenaire.prenom }}</h5></div>
                <div class="col-md-3">{{ contact_partenaire.email }}</div>
                <div class="col-md-2">{{ contact_partenaire.telephone }}</div>
                <div class="col-md-4">Envoyer le :{{ contact_partenaire.date ? contact_partenaire.date|date('d-m-y') : '' }} à {{ contact_partenaire.date ? contact_partenaire.date|date('H') : '' }}h{{ contact_partenaire.date ? contact_partenaire.date|date('i') : '' }}</div>
            </div>
          </a>
        </div>
        {% else %}
            <div>Pas de message pour l'instant</div>
        {% endfor %}

    </div>
{% endblock %}