{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row text-center mt-5">
	<div class="col ">
		<div class="card btn-dark-light" style="width: 80%;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Partenaire</h5>
		    <a href="{{ path('contact_partenaire_index') }}" class="">
				<button type="button" class="btn btn-dark">
				  Nouveau Message <span class="badge badge-light">{{ vues_partenaire }}</span>
				</button>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card btn-dark-light" style="width: 80%;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Professionnel</h5>
		    <a href="{{ path('contact_pro_index') }}" class="">
				<button type="button" class="btn btn-dark">
				  Nouveau Message <span class="badge badge-light">{{ vues_pro }}</span>
				</button>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col ">
		<div class="card btn-dark-light" style="width: 80%;">
		  <div class="card-body">
		    <h5 class="card-title text-white">Public</h5>
		    <a href="{{ path('contact_public_index') }}" class="">
				<button type="button" class="btn btn-dark">
				  Nouveau Message <span class="badge badge-light">{{ vues_public }}</span>
				</button>
		    </a>
		  </div>
		</div>
	</div>
</div>
{{ form_start(form, {'attr': {'class': 'test'}}) }}
<div class="row mt-3 text-center">
	{{ form_row(form.NewPassword, {'attr': {'class': ' col-sm-5 unpute'}}) }}
	<div class="col-sm-2"><button class="btn">{{ button_label|default('Changer de password') }}</button></div>
</div>
{{ form_errors(form) }}
{{ form_end(form) }}
</div>
{% endblock %}
