{% extends 'base.html.twig' %}

{% block title %}ContactPro index{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="">Liste des message de professionnels</h3>
         {% for contact_pro in contact_pros %}       
        <div class="list-group">
          <a href="{{ path('contact_pro_show', {'id': contact_pro.id}) }}" class="list-group-item list-group-item-success {% if contact_pro.status == 'vue' %}list-group-item-warning{% endif %} flex-column align-items-start">
            <div class="row">
                <div class="col-md-2"><h5 class="mb-1">{{ contact_pro.nom }} {{ contact_pro.prenom }}</h5></div>
                <div class="col-md-2">{{ contact_pro.organisme }}</div>
                <div class="col-md-3">{{ contact_pro.email }}</div>
                <div class="col-md-2">{{ contact_pro.telephone }}</div>
                <div class="col-md-3">Envoyer le :{{ contact_pro.date ? contact_pro.date|date('d-m-y') : '' }} à {{ contact_pro.date ? contact_pro.date|date('H') : '' }}h{{ contact_pro.date ? contact_pro.date|date('i') : '' }}</div>
            </div>
          </a>
        </div>
        {% else %}
            <div>Pas de message pour l'instant</div>
        {% endfor %}
    </div>
{% endblock %}