{% extends 'base.html.twig' %}

{% block title %}ContactPro{% endblock %}

{% block body %}
    <div id="contact" class="wrapper wrapperBack backOffice">
        <div class="innerBack text-white">
            <h4>Message de : {{ contact_pro.nom }} {{ contact_pro.prenom }}, {{ contact_pro.vousetes ? contact_pro.vousetes|join(', ') : '' }}</h4>
            <table>
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td> : {{ contact_pro.email }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td> : {{ contact_pro.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td> : {{ contact_pro.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Organisme</th>
                        <td> : {{ contact_pro.organisme }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td> : {{ contact_pro.message }}</td>
                    </tr>
                </tbody>
            </table>       
             {{ include('contact_pro/_delete_form.html.twig') }}
        </div>       
    </div>
{% endblock %}