{% extends 'base.html.twig' %}

{% block title %}Production et diffusion de spectacle - Sur Vos Planches{% endblock %}


{% block body %}
<div class="container">
        <h3>Liste de messages du public</h3>
        {% for contact_public in contact_publics %}
        <div class="list-group bg-dark">
          <a href="{{ path('contact_public_show', {'id': contact_public.id}) }}" class="list-group-item list-group-item-success {% if contact_public.status == 'vue' %}list-group-item-warning{% endif %} flex-column align-items-start">
            <div class="row">
                <div class="col-md-3"><h5 class="mb-1">{{ contact_public.nom }} {{ contact_public.prenom }}</h5></div>
                <div class="col-md-3">{{ contact_public.email }}</div>
                <div class="col-md-2">{{ contact_public.telephone }}</div>
                <div class="col-md-4">Envoyer le :{{ contact_public.date ? contact_public.date|date('d-m-y') : '' }} à {{ contact_public.date ? contact_public.date|date('H') : '' }}h{{ contact_public.date ? contact_public.date|date('i') : '' }}</div>
            </div>
          </a>
        </div>
        {% else %}
            <div>Pas de message pour l'instant</div>
        {% endfor %}
</div>
{% endblock %}